<nav class="navbar navbar-expand-md navbar-light bg-light flex-md-column flex-row py-2">
    <div class="navbar-brand d-none d-md-block">
        <h5>ERP System</h5>
    </div>

    <div class="collapse navbar-collapse w-100" id="navbarContent">
        <ul class="nav flex-column w-100">
            <li class="nav-item">
                <a class="nav-link" id="home-nav" href="{% url 'home' %}" onclick="handleClick.call(this, Event)">
                    <i class="bi bi-house-door"></i> Home
                </a>
            </li>
            <li class="nav-item">
                <!-- Modified dropdown toggle to ensure it works on mobile -->
                <a class="nav-link dropdown-toggle" href="#comprasSubmenu" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="comprasSubmenu">
                    <i class="bi bi-cart"></i> Compras
                </a>
                <div class="collapse" id="comprasSubmenu">
                    <ul class="nav flex-column ms-3">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'products' %}">
                                <i class="bi bi-box"></i> Productos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'suppliers' %}">
                                <i class="bi bi-people"></i> Proveedores
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'good_receipt_note_new' %}">
                                <i class="bi bi-file-text"></i> Guias de remision
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'purchase_requirement_list' %}">
                                <i class="bi bi-clipboard-check"></i> Ordenes de compra
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="nav-link">
                        <i class="bi bi-box-arrow-right"></i> Logout
                    </button>
                </form>
            </li>
        </ul>
    </div>
</nav>
