{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-sm my-5">
    <form method="post" id="purchase-requirement-form">
        {% csrf_token %}
        <div id="detalles" class="card mb-4 mx-auto">
            <div class="card-header">
                <h3>Crear Requerimiento de Compra</h3>
            </div>
            <div class="card-body">
                {# Global messages #}
                {% if messages %}
                    <div class="messages mb-3">
                        {% for message in messages %}
                            <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}

                {# Non-field errors from main form #}
                {% if form.non_field_errors %}
                    <div class="messages mb-3">
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                {% endif %}

                <h3 class="mt-2">Proveedor y Productos</h3>
            <div class="p-3">
                <label for="{{ form.supplier.id_for_label }}">
                    {{ form.supplier.label }}
                </label>
                {{ form.supplier }}
                {% if form.supplier.errors %}
                    <div class="alert alert-danger mt-2">
                        {{ form.supplier.errors }}
                    </div>
                {% endif %}

                {# Non-form errors from items formset #}
                {% if formset.non_field_errors %}
                    <div class="messages mb-3">
                        {% for error in formset.non_field_errors %}
                            <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                    </div>
                {% endif %}

            </div>


                <div id="items-container"></div>

                <div class="row mt-4">
                    <div class="col-md-6 offset-md-6">
                        <table class="table">
                            <tr>
                                <th>Total Soles:</th>
                                <td id="total-amount-soles">0.00</td>
                            </tr>
                            <tr>
                                <th>Total USD:</th>
                                <td id="total-amount-usd">0.00</td>
                            </tr>
                            <tr>
                                <th>Total Euros:</th>
                                <td id="total-amount-euros">0.00</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <hr class="my-4"/>
                <h3 class="mt-2">Condiciones de Envio</h3>
                <div class="row align-items-start">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                        <div class="form-group">
                            {{ form.status.label }}
                            {{ form.status }}
                            {% if form.status.errors %}
                                <div class="alert alert-danger">
                                    {{ form.status.errors }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
                        <div class="form-group">
                            {{ form.payment_condition.label }}
                            {{ form.payment_condition }}
                            {% if form.payment_condition.errors %}
                                <div class="alert alert-danger">
                                    {{ form.payment_condition.errors }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                {{ form.shipping_condition.label }}
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                {{ form.shipping_condition }}
                                {% if form.shipping_condition.errors %}
                                    <div class="alert alert-danger">
                                        {{ form.shipping_condition.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                {{ form.comments.label }}
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                {{ form.comments }}
                                {% if form.comments.errors %}
                                    <div class="alert alert-danger">
                                        {{ form.comments.errors }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-4 text-end p-3">
                <a href="{% url 'purchase_requirement_list' %}" class="btn btn-secondary">Cancelar</a>
                <button type="submit" class="btn btn-success">Guardar</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block extra_js %}
<script type="module" src="{% static 'procurement/js/purchase_requirements/create.js' %}"></script>
{% endblock %}
