
<div class="card mb-4">
    <div class="card-header">
        <h5 class="mb-0">Filtros</h5>
    </div>
    <div class="card-body">
        <form method="get" id="filter-form" class="mb-3">
            <input type="hidden" name="form_id" value="{{ form_id }}">
            <div class="row g-3">
                {% for field in filter.form %}
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="form-group">
                            {{ field.label_tag }}
                            <div class="form-control-wrapper">{{ field }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="mt-3">
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-filter"></i> Filtrar
                </button>
            </div>
        </form>
    </div>
</div>
