{% extends 'main/_base.html' %}
{% load static %}
{% block title %} Products {% endblock %}
{% block content %}
<div class="tab">
    <button class="tab-button" data-tab="detalles">Detalles</button>
    <button class="tab-button" data-tab="contact-list-tab">Contactos</button>
    <button class="tab-button" data-tab="bank-list">Cuentas Bancarias</button>
    {% block product_tab %}{% endblock %}
</div>
<form method="post">
    <div id='detalles' class="tabcontent" style="display: block">
        <h3>Informacion basica</h3>
            {% csrf_token %}
            {{ form.as_p }}
    </div>
    <div id="contact-list-tab" class="tabcontent">
        <div id="contact-list">
            <h3>Contactos</h3>
            {{ supplier_contact_form_set.management_form }}
            {% for contact_form in supplier_contact_form_set %}
                <div class="dynamic-form">
                    {{ contact_form.as_p }}
                </div>
            {% endfor %}
        </div>
        <button class="add-form-btn" data-list-id='contact-list' data-list-prefix="contacts">agregar contacto</button>
        <button class="remove-form-btn" data-list-id='contact-list' data-list-prefix="contacts">remover contacto</button>
    </div>
    <div id="bank-list" class="tabcontent">
            <h3>Cuentas de bancos</h3>
            {{ supplier_bank_form_set.management_form }}
            {% for bank_form in supplier_bank_form_set %}
                <div class="dynamic-form">
                    {{ bank_form.as_p }}
                </div>
            {% endfor %}
    </div>
    {% block products %} {% endblock %}
    <button type="submit">Guardar</button>
</form>
<script type="module" src="{% static 'procurement/js/suppliers.js' %}"></script>
{% endblock %}
