{% extends 'main/_base.html' %}
{% load static %}
{% block title %} Products {% endblock %}

{% block content %}
<h1>Provedores</h1>
    <table>
        <tr>
            <th>Nombre</th>
            <th>telefono</th>
            <th>RUC</th>
            <th>detalles</th>
            <th>editar</th>
        </tr>
        <tbody>
        {% for supplier in suppliers %}
            <tr>
                <td>{{ supplier.name }}</td>
                <td>{{ supplier.phone }}</td>
                <td>{{ supplier.ruc }}</td>
                <td><a href="{% url 'supplier_details' supplier_id=supplier.id%}">detalles</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'create_supplier' %}">agregar nuevo</a>
    <script type="module" src ={% static 'procurement/js/suppliers.js' %} ></script>

{% endblock %}