{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="tab">
        <button class="tab-button" data-tab="details">Detalles</button>
        <button class="tab-button" data-tab="contact-list">Contactos</button>
        <button class="tab-button" data-tab="bank-list">Cuentas Bancarias</button>
        <button class="tab-button" data-tab="product-list">Productos</button>
    </div>
    {% if not form_id  or form_id == 'supplier-basic-information'%}
        <div id="details" class="tabcontent" style="display: block">
    {% else %}
        <div id="details" class="tabcontent">
    {% endif %}
        {% include 'procurement/suppliers/supplierBasicInformation.html' with form=supplier_form%}

    </div>
    {% if form_id == "update-supplier-contacts" %}
        <div id="contact-list" class="tabcontent" style="display: block">
    {% else %}
        <div id="contact-list" class="tabcontent">
    {% endif %}
        {% include 'procurement/suppliers/supplierContactList.html' with forms_set=contacts_form_set %}
    </div>
    <div id="bank-list" class="tabcontent">
        <h3>Cuenta Bancarias</h3>
        <table>
            <thead>
            <tr>
                <th>Banco</th>
                <th>Numero de cuenta</th>
                <th>CCI</th>
            </tr>
            </thead>
        </table>
    </div>
    {% if form_id == 'update-products' %}
    <div id="product-list" class="tabcontent" style="display: block">
    {% else %}
    <div id="product-list" class="tabcontent">
    {% endif %}
        {% url 'new_product_from_supplier' supplier_id=supplier.id as new_url%}
        {% include 'procurement/suppliers/supplierProductList.html' with title='Productos' new_product_url=new_url add_enable=False supplier_products=products forms=products_forms new_url=new_url %}
    </div>
{% endblock %}
{% block extra_js %}
    <script type=module src="{% static 'procurement/js/supplierBasicInformation.js' %}"></script>
    <script type=module src="{% static 'procurement/js/supplierContactList.js' %}"></script>
    <script type=module src="{% static 'procurement/js/suppliers.js' %}"></script>
{% endblock %}
