
<h2>Informacion basica</h2>
{# Add this near the top of your template #}
{% if messages %}
<div class="messages">
    {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}

<div class="edit">
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="form_id" value="supplier-basic-information">
        {{ form.id }}
        <table>
            <tbody>
            {% for field in form %}
                <tr>
                    <td>{{ field.label_tag }}</td>
                    <td>
                        {{ field }}
                        <div class="messages">
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <button type="submit">Guardar</button>
    </form>
</div>
<button id="edit-supplier-basic-information">editar</button>
<button id="view-supplier-basic-information">ver</button>
