{% extends 'procurement/suppliers/supplierNew.html' %}

{% block product_tab %}
<button class="tab-button" data-tab="products-list-tab">products</button>
{% endblock %}

{% block products %}
    <div id="products-list-tab" class="tabcontent">
        <div id="products-list">
            {% url 'new_product_from_supplier' supplier_id=supplier.id as new_url%}
            {% include 'procurement/products/productsList.html' with title='Productos' new_product_url=new_url add_enable=True products=supplier.products.all %}
        </div>
        <button class="add-form-btn" data-list-id='contact-list' data-list-prefix="contacts">agregar contacto</button>
        <button class="remove-form-btn" data-list-id='contact-list' data-list-prefix="contacts">remover contacto</button>
    </div>
{% endblock %}
