{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1>Detalles de proveedor</h1>
            <a href="{% url 'suppliers' %}" class="btn btn-secondary">
                Volver a la lista
            </a>
        </div>
    </div>
    <div class="tab">
        {% if not tab_name  or tab_name == 'details'%}
            <button class="tab-button active" data-tab="details">Detalles</button>
        {% else %}
            <button class="tab-button" data-tab="details">Detalles</button>
        {% endif %}

        {% if tab_name == 'contact-list'%}
            <button class="tab-button active" data-tab="contact-list">Contactos</button>
        {% else %}
            <button class="tab-button" data-tab="contact-list">Contactos</button>
        {% endif %}
        {% if tab_name == 'bank-list'%}
            <button class="tab-button active" data-tab="bank-list">Cuentas Bancarias</button>
        {% else %}
            <button class="tab-button" data-tab="bank-list">Cuentas Bancarias</button>
        {% endif %}
        {% if tab_name == 'product-list'%}
            <button class="tab-button active" data-tab="product-list">Productos</button>
        {% else %}
            <button class="tab-button" data-tab="product-list">Productos</button>
        {% endif %}
    </div>
    <div id="details" class="tabcontent">
        {% include 'procurement/supplier/components/basicInformation.html' with form=supplier_form tab_name='details'%}
    </div>
    <div id="contact-list" class="tabcontent">
        {% include 'procurement/supplier/components/contactList.html' with forms_set=contacts_form_set tab_name='contact-list'%}
    </div>
    <div id="bank-list" class="tabcontent">
        <h3>Cuenta Bancarias</h3>
        <table>
            <thead>
            <tr>
                <th>Banco</th>
                <th>Numero de cuenta</th>
                <th>CCI</th>
            </tr>
            </thead>
        </table>
    </div>
    <div id="product-list" class="tabcontent">
        {% url 'new_product_from_supplier' supplier_id=supplier.id as new_url%}

        {% include 'procurement/supplier/components/productList.html' with title='Productos' new_product_url=new_url add_enable=False supplier_products=products product_form_set=products_forms new_url=new_url tab_name='product-list'%}
    </div>
{% endblock %}
{% block extra_js %}
    <script type=module src="{% static 'procurement/js/supplier/basicInformation.js' %}"></script>
    <script type=module src="{% static 'procurement/js/supplier/contactList.js' %}"></script>
    <script type=module src="{% static 'procurement/js/supplier/details.js' %}"></script>
    <script type=module src="{% static 'procurement/js/supplier/products.js' %}"></script>
{% endblock %}
