{% extends 'procurement/_base.html' %}
{% block content %}
<h1>Detalles de producto</h1>
<table>
    <tr>
        <td>Name:</td>
        <td>{{product.product_name}}</td>
    </tr>
    <tr>
        <td>Descripcion: </td>
        <td>{{ product.product_description}}</td>
    </tr>
    {% for supplier_product in product.supplier_product.all %}
    <tr>
        <td>Proveedor</td>
        <td>{{supplier_product.supplier}}</td>
    </tr>
    {% for price in supplier_product.prices.all %}
    <tr>
        <td>Precio </td>
        <td>Fecha </td>
    </tr>
    <tr>
        <td>{{price.price}}</td>
        <td>{{price.effective_date}}</td>
    </tr>
    {% endfor %}
    {% endfor %}
</table>
<button onclick="location.href='{% url 'product_update' product_id=product.id %}'">Editar</button>
{% endblock %}