<div class="card">
    <div class="card-header">
        <h5 class="mb-0">Precios de Proveedores</h5>
    </div>
<form method="post">
    {% csrf_token %}
    <input type="hidden" name="form_id" value="update-supplier-products">
    <input type="hidden" name="tab-name" value="suppliers">
    {{ formset.management_form }}
    <table>
        <thead>
        <tr>
            <th>Proveedor</th>
            <th>Unidad de medidad</th>
            <th>Precio</th>
            <th>Moneda</th>
            <th>Accion</th>
        </tr>
        </thead>
        <tbody>
        {% for form in formset.forms_with_data %}
            {{ form.id }}
            <tr id="supplier-product-view-{{ form.instance.id }}" class="supplier-product active" data-type="view">
                <td><div><a href="{% url 'supplier_details' supplier_id=form.instance.supplier.id%}">{{form.instance.supplier}}</a></div></td>
                <td><div>{{form.instance.get_unit_of_measure_display}}</div></td>
                <td><div>{{form.instance.price}}</div></td>
                <td><div>{{form.instance.get_currency_display}}</div></td>
                <td><button type="button" data-supplier-product-id="{{ form.instance.id }}" class="btn btn-primary edit-supplier-product-btn">Editar</button></td>
            </tr>
            <tr id="supplier-product-edit-{{ form.instance.id }}" class="supplier-product" data-type="edit">
                <td><div>
                    {{ form.supplier }}
                </div></td>
                <td>
                    <div>
                        {{ form.unit_of_measure }}
                    </div>
                </td>
                <td><div>
                    {{ form.price }}
                </div></td>
                <td><div>
                    {{ form.currency }}
                </div></td>
                <td><button type="submit" class="btn btn-success">Guardar</button>
                    <button type="button" class="btn btn-danger cancel-edit-supplier-product-btn" data-supplier-product-id="{{ form.instance.id }}">Cancelar</button>
                </td>
            </tr>
        {% endfor %}
        {% for form in formset.forms_extra %}
            {{ form.id }}
            <tr id="supplier-product-add" class="supplier-product" data-type="add">
                <td><div>
                    {{ form.supplier }}
                </div></td>
                <td><div>
                    {{ form.price }}
                </div></td>
                <td><div>
                    {{ form.currency }}
                </div></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</form>
    {% include 'components/pagination.html' %}
</div>
