{% extends 'base.html' %}
{% block content %}
<h1>Detalles de producto</h1>

    <div class="tab">
    <button>Detalles</button>
        <button>Precios</button>

    </div>
<table>
    <tr>
        <td>Name:</td>
        <td>{{product.product_name}}</td>
    </tr>
    <tr>
        <td>Descripcion: </td>
        <td>{{ product.product_description}}</td>
    </tr>
    <tr>
        <td>Codigo: </td>
        <td>{{ product.code}}</td>
    </tr>
</table>

    <table>
    <thead>
    <tr>
        <th>Proveedores</th>
        <th>Precio</th>
    </tr>
    </thead>
    <tbody>
    {% for supplier_product in product.supplier_product.all %}
        <tr>
            <td><a href="{% url 'supplier_details' supplier_id=supplier_product.supplier.id%}">{{supplier_product.supplier}}</a></td>
            <td>{{supplier_product.prices.last.price}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<button onclick="location.href='{% url 'product_update' product_id=product.id %}'">Editar</button>
{% endblock %}