{% extends 'main/_base.html' %}
{% block content %}

<form method="post">
    {% csrf_token %}
    <div>
        {{ product_form.product_name.label_tag }} {{ product_form.product_name}}
    </div>
    <div>
        {{ product_form.product_description.label_tag }} {{ product_form.product_description}}
    </div>
    <div>
        {{ product_form.price.label_tag }} {{ product_form.price}}
    </div>
    <div>
        {{ product_form.code.label_tag }} {{ product_form.code}}
    </div>
    <div>
        <div>
            <h1>Proveedores</h1>
            {{ formset.management_form }}
            {% for f in formset %}
                <div>
                {{ f.id }}
                {{ f.supplier.label_tag }}
                {{ f.supplier }}
                {{ f.price.label_tag }}
                {{ f.price }}
                </div>
            {% endfor %}
        </div>

    </div>
    <button type="submit">Guardar</button>
</form>

{% endblock %}