<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %} my site {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body id="body">
      <nav>
        <ul>
          <li><a id="home-nav" href="{% url 'home' %}">Home</a></li>
            <li> Compras
                <ul class="sub-nav">
                    <li><a id="products" href="{% url 'products' %}">Productos</a></li>
                    <li><a id="suppliers" href="{% url 'suppliers' %}">Proveedores</a>
                    <li><a id="good_receipt" href="{% url 'good_receipt_note_list' %}">Guias de remision</a>
                    <li><a id="purchase_requisition" href="{% url 'purchase_requisition_list' %}"
                        class="{% if subnav == "purchase_requisition"%}active{% endif %}">Peticiones de compra</a>
                </ul>
            </li>
        </ul>
        </nav>
<main>
  {% block content %} {% endblock %}
</main>
</body>
</html>