<div id="detalles" class="card mb-4 mx-auto">
    <div class="card-header">
        <h3>Informacion basica</h3>
    </div>
    <div class="card-body">
        {# Messages at the top of the card body #}
        {% if messages %}
            <div class="messages mb-3">
                {% for message in messages %}
                    <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="form_id" value="supplier-basic-information">
            <input type="hidden" name="tab-name" value="{{ tab_name }}">
            {{ form.id }}

            {% for field in form %}
                <div class="row mt-3">
                    <label for="{{ field.id_for_label }}" class="col-form-label col-xs-12 col-sm-3 col-md-3 col-lg-2 col-xl-2 col-xxl-2">
                        {{ field.label }}
                    </label>
                    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-6 col-xl-6 col-xxl-6">
                        <div class="view-input active">{{ field.value }}</div>
                        <div class="edit-input">{{ field }}</div>
                        <div class="messages">
                            {% for error in field.errors %}
                                <div class="alert alert-danger">{{ error }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}

            <div class="mt-4 text-end p-3">
                <button id="edit-supplier-basic-information" class="btn btn-primary" type="button">Editar</button>
                <button type="submit" class="btn btn-success">Guardar</button>
                <button id="view-supplier-basic-information" class="btn btn-secondary" type="button">Ver</button>
            </div>
        </form>
    </div>
</div>
