{% extends 'base.html' %}
{% block title %} Products {% endblock %}

{% block content %}
<h1>Provedores</h1>
    {% include 'components/filters.html' %}
    <div class="table-responsive">
        <table class="table table-striped table-hover table-to-cards">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>RUC</th>
                    <th>Email</th>
                    <th>Telefono</th>
                </tr>
            </thead>
            <tbody>
            {% for supplier in page_obj %}
                <tr>
                    <td data-label="Nombre"><a href="{% url 'supplier_details' supplier_id=supplier.id %}">{{ supplier.name }} <i class="bi bi-eye"></i></a></td>
                    <td data-label="RUC">{{ supplier.ruc|default:"-" }}</td>
                    <td data-label="Email">{{ supplier.email|default:"-" }}</td>
                    <td data-label="Telefono">{{ supplier.phone|default:"_" }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include 'components/pagination.html' %}

    </div>
    <a href="{% url 'create_supplier' %}" class="btn btn-success">agregar nuevo</a>

{% endblock %}