{% extends 'base.html' %}
{% load static %}
{% block title %} Proveedor Nuevo {% endblock %}
{% block content %}
<form method="post">
            {% csrf_token %}
            {{ form.id }}
<div class="container-sm my-5">
    <div id='detalles' class="card mb-4 mx-auto">
        <div class="card-header">
            <h3>Nuevo proveedor</h3>
        </div>
        <div class="card-body">
            <h3 class="mt-2">Informacion basica</h3>
            {% for field in form %}
                <div class="row mt-4">
                    <label for="{{ field.id_for_label }}" class="col-form-label col-xs-12 col-sm-3 col-md-3 col-lg-2 col-xl-2 col-xxl-2">
                        {{ field.label }}
                    </label>
                    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-6 col-xl-6 col-xxl-6">
                        {{ field }}
                        <div class="messages">
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="mt-4 text-end p-3">
            <button type="submit" class="btn btn-success">Guardar</button>
        </div>
    </div>
</div>
</form>
<script type="module" src="{% static 'procurement/js/supplier/details.js' %}"></script>
{% endblock %}
