{% load static %}
<h1>{{ title }}</h1>
<div id="table-supplier-product-list">
    <form method="get" id="filter-form">
        <input type="hidden" name="form_id" value="update-products">
        <input type="hidden" name="tab-name" value="{{ tab_name }}">
        <div class="in">
            {% for field in filter.form %}
                <div>
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}
        </div>
        <button type="submit" style="display:none">Filtrar</button>
        {% if add_enable %}
            <a href={{ new_product_url }} class="btn btn-primary">Agregar nuevo producto</a>
        {% endif %}
    </form>



    <form method="post" id="product-form">
        {% csrf_token %}
        <input type="hidden" name="form_id" value="update-products">
        <input type="hidden" name="tab-name" value="{{ tab_name }}">
        {{ product_form_set.management_form }}
        <table >
            <tr>
                <th class="product">Nombre</th>
                <th>Codigo</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Action</th>
            </tr>
            <tbody class="table-body-supplier-product-list">

            {% for form in product_form_set.forms_with_data %}
                {% with supplier_product=form.instance %}
                    {{ form.id }}
                    {{ form.product.as_hidden }}
                    <tr id="supplier-product-{{ supplier_product.id }}-view">
                        <td><a href="{% url 'product_details' product_id=supplier_product.product.id %}">{{ supplier_product.product.product_name }}</a></td>
                        <td><a href="{% url 'product_details' product_id=supplier_product.product.id %}">{{ supplier_product.product.code }}</a></td>
                        <td>{{ supplier_product.product.product_description }}</td>
                        <td>{{ form.price.value }}</td>
                        <td>
                            <button type="button" class="btn btn-primary edit-item-btn" data-form-id="supplier-product-{{ supplier_product.id }}">Editar</button>
                        </td>
                    </tr>
                    <tr id="supplier-product-{{ supplier_product.id }}-edit" style="display: none">
                        <td><a href="{% url 'product_details' product_id=supplier_product.product.id %}">{{ supplier_product.product.product_name }}</a></td>
                        <td><a href="{% url 'product_details' product_id=supplier_product.product.id %}">{{ supplier_product.product.code }}</a></td>
                        <td>{{ supplier_product.product.product_description }}</td>
                        <td>{{ form.price }}</td>
                        <td>
                            <button type="submit" class="btn btn-success">Guardar</button>
                        </td>
                    </tr>
                {% endwith %}
            {% endfor %}
            </tbody>
            <tbody id="table-body-supplier-product-new" style="display: none">
            {% for form in product_form_set.forms_extra %}
                <tr>
                    {{ form.id }}
                    <td>
                        {{ form.product }}
                        {% for error in form.product.errors %}
                            <div class="alert alert-danger">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </td>
                    <td></td>
                    <td></td>
                    <td>
                        {{ form.price }}
                        {% for error in form.price.errors %}
                            <div class="alert alert-danger">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </td>
                    <td>
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>

    <div class="pagination">
    <span class="step-links">
       {% if product_pages.has_previous %}
           <a href="?tab-name={{ tab_name }}&page=1">&laquo;1</a>
           <a href="?tab-name={{ tab_name }}&page={{ product_pages.previous_page_number }}"> anterior </a>
       {% endif %}
    </span>
        <span class="current">
        Pagina {{ product_pages.number }} de {{ product_pages.paginator.num_pages }}
    </span>
        {% if product_pages.has_next %}
            <a href="?tab-name={{ tab_name }}&page={{ product_pages.next_page_number }}"> siguiente </a>
            <a href="?tab-name={{ tab_name }}&page={{ product_pages.paginator.num_pages }}"> {{ product_pages.paginator.num_pages }} &raquo;</a>
        {% endif %}
    </div>

    <button class="add-item" data-table-body-id="table-body-supplier-product-new">Asignar producto existente</button>
    <button class="create-new-item">Crear nuevo producto</button>
</div>

<div id="table-supplier-product-new" style="display: none">
    <form method="post" id="product-new-form">
        {% csrf_token %}
        <input type="hidden" name="form_id" value="create-new-product">
        <input type="hidden" name="tab-name" value="{{ tab_name }}">
        <table >
            <tr>
                <th class="product">Nombre</th>
                <th>Codigo</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Action</th>
            </tr>
            <tbody>
            <tr>
                <td>{{ new_product_form.product_name }}</td>
                <td>{{ new_product_form.code }}</td>
                <td>{{ new_product_form.product_description }}</td>
                <td>{{ new_product_form.price }}</td>
                <td>
                    <button type="submit" class="btn btn-success">Guardar</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>



<script src="{% static 'procurement/js/clearFilter.js' %}?v=1.0"></script>
